<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    
    <div id="myApp">
        <h2>Citas de Batman     <small>{{nuevaCita}}</small></h2>
        
        <input
            type="text"
            v-model="nuevaCita"
            v-on:keypress.enter="addQuote"
        >
        <ul>
            <li v-for="({cita, autor}, index) in citas">
                <span>{{index + 1}}.- {{cita}}</span>
                <blockquote v-if="autor">-{{autor}}</blockquote>
            </li>
        </ul>
    </div>


    
    <script src="app.js"></script>
</body>
</html>