doctype html
html(lang="en")
    head
        include templates/header
    body.login
        .contenedorFormulario
            h1= nombrePagina
            p Coloca tu nuevo password
            form.cajaLogin(method="POST")
                .campo
                    label(for="password") Nuevo Password:
                    input(type="password" name="password" placeholder="Ingresa tu nuevo password")
                .campo.enviar
                    input(type="submit", value="Restablecer Password")